{% extends 'news_app/base.html' %}


{% block body %}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 ">A warm welcome!</h1>
                <p class="fs-4">Don't focus on  <strong>Design</strong> part. This project is mainly focused in 
                <strong>Backend.</strong></p>
                <p>Let's see what I have used in this project!</p>
                <hr>
                <h3 class="display-5 fw-bold">Front-end</h3>
                <ul>
                    <li>HTML</li>
                    <li>Bootstrap</li>
                </ul>
                <hr>
                <h3 class="display-5 fw-bold">Database</h3>
                <ul>
                    <li>Sqlite3</li>
                </ul>
                <hr>
                <h3 class="display-5 fw-bold">Backend</h3>
                <ul>
                    <li>Python 3</li>
                    <li>BeautifulSoup</li>
                    <li>Django Rest Framework</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <p class="fs-4">Don't focus on  <strong>Design</strong> part. This project is mainly focused in 
                <strong>Backend.</strong></p>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}