{% extends 'news_app/base.html' %}


{% block body %}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 ">A warm welcome!</h1>
                <p class="fs-4">Don't focus on <strong>Design</strong> part. This project is mainly focused in
                    <strong>Backend.</strong>
                </p>
                <p>Let's see what I have used in this project!</p>
                <hr>
                <h3 class="display-5 fw-bold text-danger">Front-end</h3>
                <ul>
                    <li>HTML</li>
                    <li>Bootstrap</li>
                </ul>
                <hr>
                <h3 class="display-5 fw-bold text-danger">Database</h3>
                <ul>
                    <li>Sqlite3</li>
                </ul>
                <hr>
                <h3 class="display-5 fw-bold text-danger">Backend</h3>
                <ul>
                    <li>Python 3</li>
                    <li>BeautifulSoup</li>
                    <li>Django Rest Framework</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<hr style="border: 3px solid rebeccapurple;">
<section>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <p class="fs-4">Let's see the functionality in this <strong>Project</strong> .</p>
                <ul class="list-group list-inline">
                    <li class="list-group-item">
                        <strong class="text-danger">Data: </strong> Data is scraped from various website's using <b>BeautifulSoup</b> and Scraped data is stored in <b>Database</b>.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">User: </strong> Modified the user model using <b>AbstractUser</b> to
                        add a email and password.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">User Registration: </strong> You can register using <b>Email</b> and
                        <b>password</b>.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">User Login: </strong> You can login using <b>Email</b> and <b>Password</b>.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">Verify Email: </strong> You need to Verify your <b>Email</b> to login.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">Forgot Password: </strong> You can reset your <b>Password</b> if needed.
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">Form: </strong> Form is created by using <b>UserCreationForm</b> which is <b>Inherited</b> from <b>django.contrib.auth.forms</b>
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">Mail: </strong> Mail is sent using <b>EmailBackend</b> which is <b>Inherited</b> from <b>django.core.mail</b>
                    </li>
                    <li class="list-group-item">
                        <strong class="text-danger">Logout: </strong> You can logout from the <b>Website</b> using <b>Logout</b> button.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}