{% extends 'news_app/base.html' %}
{% block title %}
Login
{% endblock %}
{% block body %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
    <h1 class="p-4">Forgot password</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="text-danger"> {{ message }} </p>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter your password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name='password1'>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm your password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name='password2'>
          </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <hr>
    <a class='btn btn-primary' href="{% url 'login_user' %}">Back</a>
    <a class='btn btn-primary' href="{% url 'register' %}">Sign up</a>
</div>

{% endblock %}